<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Train Booking </title>
  <link rel="stylesheet" href="static/css/ticketform.css" />
  
</head>

<body>
  <div class="container">

    <header>
      <nav>
        <div class="menu">
          <div class="logo">SKY <span>LINE</span> TRAIN</div>
          <ul>
  
          </ul>
        </div>
      </nav>
    </header>


        <form action="/">
          <div class="title">
            <i class="fas fa-pencil-alt"></i> 
            <h4>Book Ticket here</h4>
          </div>
          <div class="info">
            <input class="fname" type="text" name="name" placeholder="Full name">
            <input type="text" name="email" placeholder="Email">
            <input type="text" name="phonenumber" placeholder="Phone Number">
            <input type="date" name="password" placeholder="Date of Journey">
            <select>
              <option selected>Source</option>
              <option>Mumbai Central</option>
              <option>Dadar</option>
              <option>Andheri</option>
              <option>Borivali</option>
              <option>Vasai Road</option>
              <option>Surat</option>
              <option>Kota Jn</option>
              <option>Pune</option>
              <option>New Delhi</option>
              <option>H.Nizamuddin</option>
              <option>Lucknow</option>
              <option>Indore</option>
            </select>
            <select>
              <option selected>Destination</option>
              <option>Mumbai Central</option>
              <option>Dadar</option>
              <option>Andheri</option>
              <option>Borivali</option>
              <option>Vasai Road</option>
              <option>Surat</option>
              <option>Kota Jn</option>
              <option>Pune</option>
              <option>New Delhi</option>
              <option>H.Nizamuddin</option>
              <option>Lucknow</option>
              <option>Indore</option>
            </select>
            <select>
              <option selected>Train Name</option>
              <option>12925 Paschim Express</option>
              <option>12450 Goa S kranti Express</option>
              <option>12907 BDTS Smprk Kranti Express</option>
              <option>11027 DR PVR Express</option>
              <option>11019 Konark Express</option>
              <option>11301 Udyan Express</option>
              <option>19037 Avadh Express</option>
              <option>82901 Tejas Express</option>
              <option>22955 Kutch Express</option>
              <option>12903 Golden Temple</option>
            </select>
            <select>
              <option selected>Class</option>
              <option>Sleeper</option>
              <option>General</option>
              <option>AC 3</option>
              <option>AC 2</option>
              <option>AC</option>
            </select>
            <select>
              <option selected>Berth</option>
              <option>Lower</option>
              <option>Middle</option>
              <option>Upper</option>
              <option>Side Lower</option>
              <option>Side Upper</option>
            </select>
          </div>
        
          <button type="submit" href="/">Submit</button>
        </form>
      </div>
  
  

    <img src="static/images/hotel.png" class="hotel">
    <img src="static/images/car1.png" class="car1">
    <img src="static/images/car2.png" class="car2">
    <img src="static/images/car3.png" class="car3">
    <img src="static/images/car4.png" class="car4">
    <img src="static/images/dog.gif" class="dog_1">
    <img src="static/images/cloud.png" class="cloud">
    <img src="static/images/cloud.png" class="cloud_2">
    <img src="static/images/cloud.png" class="cloud_3">
    <img src="static/images/cloud.png" class="cloud_4">

  </div>

</body>

</html>